.underTable1, .underTable2  {
    margin-top: 0.4em !important;  
   margin-bottom: 0.25em;
   width: 223px;
}

.underTable1 {
    
    padding-left: 20px;
    margin-left: 2px;
}
.progress-bar {
    
    width: 457px;
}

.feedback {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 900; 
    vertical-align: middle;
    background-color: white;

} 
