
<!-- The Table  -->
<div class="handsontable" >
<hot-table [settings]="settings" height="450" [data]="data" id="handsontable"  hotInstance="bindedInstace">
   
    <!-- <hot-column title="Bar Code" width="200"></hot-column>
    <hot-column title="Time Stamp" width="100" type="date"></hot-column>
    <hot-column title="Symbology" width="100" type="text"></hot-column>
    <hot-column title="Ok" [readOnly]="true"></hot-column> -->
  </hot-table>

  <button md-raised-button color="primary" class="underTable">Send</button>
<button disabled="disabled"></button>
</div>

