<!-- Primary toolbar -->
<md-toolbar color="primary">
    <button md-button [mdMenuTriggerFor]="appMenu" class="menubutton"><md-icon class='menubutton'>menu</md-icon > BarGen Menu</button>
    <!-- <md-icon mdTooltip="User Verified" class="UserOk">verified_user</md-icon> -->
    <!-- Primary tab spans -->
    <!-- <span></span> -->
    <span class="example-spacer"></span>
    
      
    <span>0000000000000000</span>
  
    
  </md-toolbar>
  
  <md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
  </md-menu>

