.container {

border : 2px solid #000; 
overflow:hidden;
}

.container div{
    min-height: 200px;
    margin-bottom: 20px;
    }
.table-card {
    padding: 0 !important;
   
    /* background-color: gray; */
    float:left; 
    margin-right:15px;
  
    width: 459px;
    border-right:2px solid #000;
    border-bottom: 2px solid #000;
    
  }
  .table-card2 {
    background-color: white;
    overflow:hidden;
    margin:10px; 
    min-height:200px;
    margin-left: 0%;
    width: 50%
  }
 .table-card3 {
width: 50%;
overflow: hidden;
min-height: 200px;
position: relative;

 }
