<!-- Primary toolbar -->
<app-toolbar></app-toolbar>
<!-- Secondary TABS -->
<md-tab-group>
  <md-tab label="Main App">
    <h3>Export Table</h3>
  </md-tab>

  <md-tab label="Help">
    <h3>How to use me now </h3>
    <!-- Gif tutorial -->
    <iframe width="860" height="640" src="./assets/GIF.gif" allowfullscreen frameborder="0">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </md-tab>

</md-tab-group>

<div class="container">
<md-card class="table-card">
    <app-table></app-table>
</md-card>
<md-card class="table-card2">
<app-send-options> </app-send-options>
  </md-card>
</div>