<!-- Primary toolbar -->
<app-toolbar style="padding: 0"></app-toolbar>
<!-- Secondary TABS -->
<md-tab-group>
  <md-tab label="Main App">

  </md-tab>

</md-tab-group>

<div >

  <div class="wrapper">

    <div class="one">
      <app-table></app-table>
    </div>

    <div class="two">
      <app-send-options class="options"> </app-send-options>
    </div>

    <div class="three">
<md-card>
    

    <md-chip-list>
      <br>
      <md-chip color="warn" selected="true">Dev. Build Info v0.11 Alpha</md-chip>
    </md-chip-list>
    <ol>
      <h4>Application info:</h4>
      <p> An application that allows you to easily send barcodes to the ECPO database for test purposes without using a scanner
        and login to the ECPO Portal. </p>
      <li> Type in your full ScannerID (example: "000000000Pxxxxxx")</li>
      <li> Select the Gfk Server to work with</li>
      <li> Add in the table your Data</li>
      <li> Click on Send BarCodes</li>
    </ol>
    <ul class="roadmap">
      <h4>RoadMap:</h4>
  
      <li> + Create auth component & ui</li>
      <li> + Redesign UI</li>
      <li> + Proper title, gfk theme & logo, custom favicon</li>
      <li> + Responsive build + force landscape for mobile.</li>
      <li> + Http Request moved inhouse @nodejs</li>
    </ul>
  </md-card>
  </div>
  <div id="console" class="four"></div>
</div>

