/* Styles go here */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}
.one {
  max-height: 500px;
  grid-column: 1  ;
  grid-row: 1;

}
.two { 
  max-height: 500px;
  grid-column: 2 / 3;
  grid-row: 1;
  padding-left: 5%;
  padding-top: 15%;
 
}

.three {
  max-height: 500px;
  grid-column: 3/4;
  grid-row: 1;
 
}

.four {

  color: orange;
  grid-column: 1/3;
  grid-row: 2;
  background-color: rgba(0, 0, 0, 0.5);
  
}