/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~handsontable/dist/handsontable.full.css';
.UserOk {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  /* @media screen and (min-width: 400px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  } */

  @media  (min-device-width: 480px) {
    orientation: landscape
  }